.tiptax {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 5px;
}

.title {
	font-family: 'Roboto', sans-serif;
	background-color: lightblue;
}

.spacing {
	background-color: lightgoldenrodyellow;
}

.content {
	background-color: lightgray;
}
