$tiptax-side-padding: 40px;
$title-and-bot-padding: 45px;

.tiptax {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 5px;
	margin-top: 100px;
	padding-bottom: $title-and-bot-padding;
	padding-left: $tiptax-side-padding;
	padding-right: $tiptax-side-padding;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding-top: $title-and-bot-padding;
	padding-bottom: 40px;
}

.mockReceipt {
	padding-left: 40px;
}

@font-face {
	font-family: 'ReceiptFont';
	src: url('../../fonts/Merchant-Copy.ttf');
}

@font-face {
	font-family: 'ReceiptFontDouble';
	src: url('../../fonts/Merchant-Copy-Doublesize.ttf');
}

@font-face {
	font-family: 'ReceiptFontWide';
	src: url('../../fonts/Merchant-Copy-Wide.ttf');
}
