.ingredient {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    font-size: 20px;
}

.ingredientName {
    display: inline-block;
    color: black;
    padding-left: 5px;
}

.nameCreate {
    color: #616161;
}

.init {
    color: #c2c2c2;
}

.done {
    color: gray;
    text-decoration: line-through;
}

.hideDelButton {
    display: none;
}

.showDelButton {
    float: right;
    position: relative;
    background-color: white;
    vertical-align: middle;
}

