.mockReceiptComponent {
	font-family: 'ReceiptFont';
	font-size: 16pt;
	padding: 20px;
}

.price {
	text-align: right;
	vertical-align: top;
}

.total {
	font-family: 'ReceiptFontDouble';
	text-align: left;
	font-size: 18px;
}

.totalPrice {
	font-family: 'ReceiptFontDouble';
	text-align: right;
	font-size: 18px;
}

table {
	width: 100%;
}
